@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background: url('');
    height: 100vh;
}

.container {
    position: relative;
    height: 100%;
    background: #2e8b57;
    padding: 50px 5%;
    border-radius: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    background: #6a5acd;
    z-index: 100;
}

.logo {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.navbar a:hover,.navbar a.active {
    border-color: #ffffff;
}


.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #f3faff
}

.home-detail h1 {
    font-size: 55px;
    line-height: 1;
}

