@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); /*arrumar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: :none;
    font-family: 'Poppis', sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
